:root {
  --main-color: #ea0003;
  --primary-backgroung-color: #ecd02f;
  --secondary-backgroung-color: #f7e8ad;
  --primary-text-color: #2D2C2A;
  --main-color-hover: #aa0003;
  --secondary-text-color: rgba(0, 0, 0, 0.8);

}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-backgroung-color); /*hex: 0-F*/
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

h1, h2, h3, .price {
  font-family: 'Roboto Serif', serif;
  text-transform: uppercase;
  color: var(--primary-text-color);
}

header {
  padding: 2rem 0;
  text-align: center;
}

header h1 {
  margin-bottom: 0.25rem;
  font-size: 2rem;
  font-weight: 700;  
  line-height: 2rem;
}

header h1 span {
  color: var(--main-color);
  transition: 400ms;
}

header p {
  color: var(--secondary-text-color);
  font-size: 1rem;
  line-height: 1rem;
}

header,
section {
  max-width: 800px;
  margin: 0 auto;
}

section {
  margin-bottom: 1.5rem;
}

section h2 {
  background-color: var(--main-color);
  color: #faf4f6;
  padding: 0.5rem 1rem;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.3rem;
  transition: 400ms;
}

ul {
  background-color: var(--secondary-backgroung-color);
  padding: 1rem;
  margin: 0 0.5rem;
}

ul li {
  margin-bottom: 0.7rem;
  display: flex;
  justify-content: space-between;
  border-bottom: var(--primary-text-color) dashed;
  border-width: 1px;
}

ul :last-child {
  border: none;
  margin-bottom: 0;
}

li .details {
  max-width: 600px;
  padding-bottom: 0.5rem;
}

li .details h3 {
  color: var(--main-color);
  margin-bottom: 0.1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  transition: 400ms;
}

.details p {
  color: var(--secondary-text-color);
  font-size: 0.9rem;
  line-height: 1.2rem;
}

.price {
  font-size: 1.1rem;
}

section h2:hover {
  background-color: var(--main-color-hover);
}

li .details h3:hover,
header h1 span:hover {
  color: var(--main-color-hover);
}

/* Responsividade */
@media (max-width: 520px) {

ul li .details {
  max-width: 220px;
}

}